.dashboard-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.dashboard-top > div {
  display: flex;
  align-items: center;
}
.dashboard-top > div > span,
.dashboard-top > div > h1 > span {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
}
.dashboard-top > .snapshot-btn {
  display: flex;
  align-items: center;
  background: #18223b;
  border-radius: 5px;
  justify-content: center;
  margin-right: 19px;
  width: 142px;
  height: 35px;
}
.dashboard-top > .snapshot-btn > span {
  color: var(--app-blue);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 10px;
}
